# --- Dependencies ---
__pycache__/
.venv/
.env
api/

# --- Build Outputs ---
dist/
build/
*.log

# --- Editor Specific ---
.vscode/
.idea/

# --- Project Specific ---
uploads/
backend/data/favorites.json
backend/data/wardrobe.json
*.pt
